/ {
	keymap {
        compatible = "zmk,keymap";

		navigation_layer {
			label = "NAV";
			bindings = <
                &kp LC(F)   &kp LC(Z)   &kp LC(A)   &kp LC(X)   &kp LC(Y)   &none       &none       &none       &none       &none 
                &kp LGUI    &kp LALT    &kp LCTL    &kp LSHFT   &kp LC(G)   &kp CAPS    &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT
                &kp LA(TAB) &kp RALT    &kp LC(C)   &kp LC(V) 	&bootloader &kp INS     &kp HOME    &kp PG_DN   &kp PG_UP   &kp END
                                        &none       &none       &none       &kp RET     &kp BSPC    &kp DEL     
			>;
		};
	};
};