/ {
	keymap {
        compatible = "zmk,keymap";

		qwerty_layer {
			label = "QWERTY";
			bindings = <
                &kp LCTL    &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O
                &kp LALT    &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L 
                &kp LSHFT   &kp Z       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp P       &kp DOT 
                                        &kp ESC     &kp SPACE   &kp TAB     &kp RET     &kp BSPC    &kp DEL
			>;
		};	
	};
};