#define U_BASE \
/* TOP (0 - 11) */ \
    &none \
    &kp Q &kp W &kp F &kp P &kp B \
    &kp J &kp L &kp U &kp Y &kp SQT \
    &none \
/* MIDDLE (12 - 23) */ \
    &none \
    &hm LGUI A &hm LALT R &hm LCTL S &hm LSHFT T &kp G \
    &kp M &hm LSHFT N &hm LCTL E &hm LALT I &hm LGUI O \
    &none \
/* BOTTOM LEFT (24 - 29) */ \
    &none \
    &kp Z &kp x &kp C &kp D &kp V \
/* UPPER THUMBS (30 - 33) */ \
    &kp LSHFT &kp LSHFT &kp LSHFT &kp LSHFT \
/* BOTTOM RIGHT (34 - 39) */ \
    &kp K &kp H &kp COMMA &kp DOT &kp FSLH \
    &none \
/* THUMBS LEFT (40 - 49) */ \
    &kp LSHFT &kp RALT &kp ESC &kp SPACE &kp TAB \
    &kp RET &kp BSPC &kp DEL &kp RALT &kp LSHFT

#define U_BASE_SENSOR \
/* LEFT ENCODER */ \
    &inc_dec_kp PG_UP PG_DN \
/* RIGHT ENCODER */ \
    &inc_dec_kp PG_UP PG_DN