/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "homerow.dtsi"
#include "kyria_combos.dtsi"
#include "layers/base.dtsi"

/ {
	keymap {
		compatible = "zmk,keymap";

	// Base layer for alphanumeric input (0)
		BASE_LAYER {
			label = "Base";
			bindings = <base_bindings>;
			sensor-bindings = <base_sensor_bindings>;
		};
	};
};