/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "homerow.dtsi"
#include "layers/base.h"
#include "kyria_combos.dtsi"

/ {
	keymap {
		compatible = "zmk,keymap";
		BASE_LAYER {
			label = "Base";
			bindings = <U_BASE>;
			sensor-bindings = <U_BASE_SENSOR>;
		};
	};
};