/ {
	keymap {
        compatible = "zmk,keymap";

		media_layer {
			label = "MED";
			bindings = <
                &none       &none       &none       &none       &bootloader &none       &none       &none       &none       &none 
                &kp LGUI    &kp LALT    &kp LCTL    &kp LSHFT   &none       &none       &kp C_PREV  &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT
                &none       &kp RALT    &none       &none       &none       &none       &kp C_STOP  &kp C_PP    &kp C_MUTE  &none
                                        &none       &none       &none       &kp RET     &kp BSPC    &kp DEL     
			>;
		};	
	};
};