#define TD_LT_MACRO(name, key, layer) \
/ { \
    behaviors { \
        name: name { \
            compatible = "zmk,behavior-tap-dance"; \
            label = "TD_LT_MACRO_name"; \
            #binding-cells = <0>; \
            tapping-term-ms = <150>; \
            bindings = <&kp key>, <&lt layer key>; \
        }; \
    }; \
};

#define TD_MT_MACRO(name, key, mod) \
/ { \
    behaviors { \
        name: name { \
            compatible = "zmk,behavior-tap-dance"; \
            label = "TD_MT_MACRO_name"; \
            #binding-cells = <0>; \
            tapping-term-ms = <150>; \
            bindings = <&kp key>, <&mt mod key>; \
        }; \
    }; \
};
