/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define TWO_KEYS_COMBO_ONE_KEYPRESS(NAME, POS1, POS2, KEY) \
        NAME { \
            timeout-ms = <50>; \
            key-positions = <POS1 POS2>; \
            bindings = <&kp KEY>; \
        };

#define BASE       0
#define NUMPAD     1
#define SPECIAL    2
#define NAVIGATION 3
#define MEDIA      4
#define BLUETOOTH  5

/ {
    behaviors {
        tdcaps: tap_dance_caps {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_CAPS";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&caps_word>, <&kp CAPSLOCK>;
        };

        mhm: my_homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "MY_HOMEROW_MOD";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <175>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <75>;
            bindings = <&kp>, <&kp>;
        };

        mlt: my_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MY_LAYER_TAP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <175>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <75>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        TWO_KEYS_COMBO_ONE_KEYPRESS(combo_lpar, 16, 28, LPAR)
        TWO_KEYS_COMBO_ONE_KEYPRESS(combo_lbkt, 15, 27, LBKT)
        TWO_KEYS_COMBO_ONE_KEYPRESS(combo_lbrc, 17, 29, LBRC)
        TWO_KEYS_COMBO_ONE_KEYPRESS(combo_rpar, 19, 32, RPAR)
        TWO_KEYS_COMBO_ONE_KEYPRESS(combo_rbkt, 20, 33, RBKT)
        TWO_KEYS_COMBO_ONE_KEYPRESS(combo_rbrc, 18, 31, RBRC)

        combo_toggle_bluetooth {
            timeout-ms = <50>;
            key-positions = <48 56>;
            layers = <BASE BLUETOOTH>;
            bindings = <&tog BLUETOOTH>;
        };

    };

    keymap {
        compatible = "zmk,keymap";
        base {
            bindings = <
                &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &none                               &none       &kp N6      &kp N7      &kp N8      &kp N9      &kp N0    
                &kp Q       &kp W       &kp F       &kp P       &kp B       &none                               &none       &kp J       &kp L       &kp U       &kp Y       &kp SQT   
                &mhm RALT A &mhm LALT R &mhm LCTRL S &mhm LSHFT T &mhm LGUI G &none             &tdcaps         &none       &mhm LGUI M &mhm LSHFT N &mhm LCTRL E &mhm LALT I  &mhm RALT O
                &kp Z  &kp X       &kp C       &kp D       &kp V       &none                               &none       &kp K       &kp H       &kp COMMA   &kp DOT     &kp SLASH 
                                        &kp ESC     &kp SPACE   &mlt NAVIGATION TAB &mlt MEDIA MINUS &mlt SPECIAL EQUAL &mlt NUMPAD ENTER   &kp BSPC    &kp DELETE
                >;
        };

        numpad {
            bindings = <
                &kp GRAVE   &kp SEMI    &kp BSLH    &kp SLASH   &kp SQT     &none                               &none       &none       &none       &none       &none       &none       
                &kp LBKT    &kp N7      &kp N8      &kp N9      &kp RBKT    &none                               &none       &none       &none       &none       &none       &none       
                &kp EQUAL   &kp N4      &kp N5      &kp N6      &kp MINUS   &none             &tog NUMPAD       &none       &kp LGUI    &kp LSHFT   &kp LCTRL   &kp LALT    &kp RALT    
                &kp COMMA   &kp N1      &kp N2      &kp N3      &kp DOT     &none                               &none       &kp LC(V)   &kp LC(C)   &kp LC(X)   &none       &none       
                                                    &kp ESC     &kp SPACE   &kp N0      &to BASE    &to SPECIAL &kp ENTER   &kp BSPC    &kp DELETE
                >;
        };

        special {
            bindings = <
                &kp TILDE   &kp COLON   &kp PIPE    &kp QMARK   &kp DQT     &none                               &none       &none       &none       &none       &none       &none       
                &kp LBRC    &kp AMPS    &kp STAR    &kp LPAR    &kp RBRC    &none                               &none       &none       &none       &none       &none       &none       
                &kp PLUS    &kp DLLR    &kp PRCNT   &kp CARET   &kp UNDER   &none             &tog SPECIAL      &none       &kp LGUI    &kp LSHFT   &kp LCTRL   &kp LALT    &kp RALT    
                &kp LT      &kp EXCL    &kp AT      &kp HASH    &kp GT      &none                               &none       &kp LC(V)   &kp LC(C)   &kp LC(X)   &none       &none       
                                                    &kp ESC     &kp SPACE   &kp RPAR    &to BASE    &to NUMPAD  &kp ENTER   &kp BSPC    &kp DELETE
                >;
        };

        navigation {
            bindings = <
                &none       &none       &none       &none       &none       &none                               &none       &kp LC(Y)   &kp LC(V)   &kp LC(C)   &kp LC(X)   &kp LC(Z)   
                &none       &none       &none       &none       &none       &none                               &none       &kp K_AGAIN &kp K_PASTE &kp K_COPY  &kp K_CUT   &kp K_UNDO  
                &kp RALT    &kp LALT    &kp LCTRL   &kp LSHFT   &kp LGUI    &none             &tog NAVIGATION   &none       &kp PSCRN   &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   
                &none       &none       &kp LC(X)   &kp LC(C)   &kp LC(V)   &none                               &none       &kp INS     &kp HOME    &kp PG_DN   &kp PG_UP   &kp END     
                                                    &kp ESC     &kp SPACE   &kp TAB     &to MEDIA   &to BASE    &kp ENTER   &kp BSPC    &kp DELETE
                >;
        };

        media {
            bindings = <
                &none       &none       &none       &none       &none       &none                               &none       &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      
                &none       &none       &none       &none       &none       &none                               &none       &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     
                &kp RALT    &kp LALT    &kp LCTRL   &kp LSHFT   &kp LGUI    &none             &tog MEDIA        &none       &kp C_BRI_UP &kp C_VOL_UP &kp C_MUTE &kp F11    &kp F12     
                &none       &none       &kp LC(X)   &kp LC(C)   &kp LC(V)   &none                               &none       &kp C_BRI_DN &kp C_VOL_DN &kp C_PP  &kp F13     &kp F14     
                                                    &kp ESC     &kp SPACE   &kp TAB   &to NAVIGATION &to BASE   &kp ENTER   &kp BSPC    &kp DELETE
                >;
        };


        bluetooth {
            bindings = <
                &none       &none       &none       &none       &none       &none                               &none       &none       &none       &none       &none       &bootloader
                &none       &none       &none       &none       &none       &none                               &none       &none       &none       &none       &none       &sys_reset
                &none   &bt BT_SEL 4 &bt BT_SEL 3 &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0       &bt BT_CLR       &none       &none       &none       &none       &none       &none
                &none       &none       &none       &none       &none       &none                               &none       &none       &none       &none       &none       &none
                                                 &to NAVIGATION &to NUMPAD  &to BASE    &bt BT_NXT  &bt BT_PRV  &out OUT_USB &out OUT_BLE &out OUT_TOG
                >;
        };
    };
};